.footer {
	padding-block: 20px;
	font-size: 12px;
}

.footer__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 24px;
}

.footer__menu {
	&-list {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}

	&-link {
	}
}

.footer__attribution {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 8px;
}

.footer__copyright {
}
