.news-group {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
	padding-block: var(--section-padding-y);

	&:first-child {
		padding-block-start: 0;
	}

	&:last-child {
		padding-block-end: 0;
	}
}

.news-group__title {
	/* empty */
}
